title: La Firma
description: Somos un equipo de abogados de reconocida trayectoria y formación profesional, responsables y comprometidos. Permítanos asistirle en sus negocios y transacciones privadas.
type_header: 50
{% extends "base.html" %}

{% block body %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* portfolio SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="portfolio">

            <div class="portfolioIntro text-center">
                <div class="black-overlay"></div>
                <br><br>
                <h2 class="dark" data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                    <span>La Firma</span>
                </h2>
            </div>

            <div class="container">

                <h1 class="parallaxLetter letter1" data-stellar-ratio="1.5" data-stellar-vertical-offset="0" style="display: none; top: 58.5px;">L</h1>
                <h1 class="parallaxLetter letter2" data-stellar-ratio="0.5" data-stellar-vertical-offset="200" style="display: block; top: 841.5px;">L</h1>




                <div class="row">
                    <div class="col-md-8" data-scroll-reveal="enter left move over 1s after 0.2s" data-scroll-reveal-id="12" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                        <h4>Quienes somos</h4>
                        <img src="{% static 'img/lineSeparatorBlack.png' %}" class="img-responsive lineSeparator" alt="separator">
                        <p class="justify">
                            Somos un equipo conformado por profesionales, caracterizados por nuestra atención personalizada al cliente. Nuestra firma se rige por los más altos estándares de calidad, garantizandoles así un servicio profesional en donde su satisfacción es nuestro objetivo principal.<br><br>Nos enfocamos en usted y en que sus negocios sean manejados de forma organizada, fácil y eficiente, manejado bajo estrictos estándares de seguridad al servicio de usted.
                        </p>
                    </div>

                    <div class="col-md-4" data-scroll-reveal="enter right move over 1s after 0.4s" data-scroll-reveal-id="13" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">

                        <img style="height:200px; opacity:0.8;" class="mt-30" src="{% static '/img/logoblack.png' %}" alt="López | Durling">

                    </div>
                </div>


                <!--end content-->



            </div>





                <div class="container">


                <!--header-->


                <h1 class="parallaxLetter letter4" data-stellar-ratio="0.8">D</h1>

                <h1 class="parallaxLetter letter3" data-stellar-ratio="1.2">L</h1>

                <!--content-->
                <div class="row content">



                        <!--member-->
                        <div class="teamMember">

                            <div class="col-md-5  col-sm-5 col-xs-12 memberDescription">
                                <img src="{% static '/img/team/orlandolopez.jpg' %}" class="circle center-block img-responsive" alt="ORLANDO ERNESTO LÓPEZ AROSEMENA -  Socio de López | Durling Abogados">
                                <h2 data-scroll-reveal="enter right move 10px over 1s after 0.2s">ORLANDO ERNESTO<br>LÓPEZ AROSEMENA</h2>
                                <p class="position"  data-scroll-reveal="enter right move 10px over 1s after 0.4s">
                                    <span>
                                        Socio Administrador
                                    </span>
                                </p>
                                <h6>Educación</h6>
                                <ul>
                                    <li>Licenciado en Derecho y Ciencias Políticas en la Universidad Santa María La Antigua (Panamá, 1977)</li>
                                    <li>Louisiana State University (1977-1978))</li>
                                    <li>Licenciatura de Administración de Empresas de Florida State University (Panamá, 1984)</li>
                                </ul>
                                <h6>Publicaciones</h6>
                                <ul>
                                    <li>Autor, “Régimen Tributario de las Naves Mercantes de Servicio Exterior de Panamá”</li>
           
                                </ul>
                                <h6>Membresías</h6>
                                <ul>
                                    <li>Árbitro del Centro de Conciliación y Arbitraje de la Cámara de Comercio e Industrias de la República de Panamá</li>
                                    <li>Asesor de la Cámara de Comercio e Industrias de la República de Panamá</li>
                                    <li>Miembro del Colegio Nacional de Abogados de Panamá</li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-6">
                                    <h6>Areas de Especialización</h6>
                                    <ul>
                                        <li>Derecho Corporativo</li>
                                        <li>Derecho Marítimo</li>
                                        <li>Contratos</li>
                                        <li>Fundaciones de Interés Privado</li>
                                        <li>Bienes Raíces</li>
                                        <li>Propiedad Intelectual</li>
                                        <li>Mediación, Conciliación y Abritraje</li>
                                    </ul>
                                    </div>
                                    <div class="col-md-6">
                                    <h6>Idiomas</h6>
                                    <ul>
                                        <li>Español (natal)</li>
                                        <li>Inglés (avanzado)</li>
                                    </ul>
                                    </div>
                                </div>

                                <img src="{% static 'img/lineSeparatorBlack.png' %}" class="lineSeparator hidden-xs" alt="separator">

                                
                            </div>

                            <div class="col-md-5 col-md-offset-1 col-sm-5 col-xs-12 memberDescription">
                                <img src="{% static '/img/team/luislopez.jpg' %}" class="circle center-block img-responsive" alt="LUÍS ALFONSO LÓPEZ DURLING - Socio de López | Durling Abogados">
                                <h2 data-scroll-reveal="enter right move 10px over 1s after 0.2s">LUÍS ALFONSO<br>LÓPEZ DURLING</h2>
                                <p class="position"  data-scroll-reveal="enter right move 10px over 1s after 0.4s">
                                    <span>
                                        Socio
                                    </span>
                                </p>

                                <h6>Educación</h6>
                                <ul>
                                    <li>LLM (Master of Laws) en University of Pennsylvania (Philadelphia, EEUU 2014-2015)</li>
                                    <li>Wharton Business and Law Certificate at The Wharton School of Business (Philadelphia, EEUU 2014-2015)</li>
                                    <li>Licenciatura en Derecho y Ciencias Políticas en Universidad Santa María La Antigua, Honor Magna Cum Laude (Panamá, 2011)</li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-6">
                                    <h6>Areas de Especialización</h6>
                                    <ul>
                                        <li>Derecho Corporativo</li>
                                        <li>Derecho Marítimo</li>
                                        <li>Contratos</li>
                                        <li>Fundaciones de Interés Privado</li>
                                        <li>Bienes Raíces</li>
                                        <li>Propiedad Intelectual</li>
                                    </ul>
                                    </div>
                                    <div class="col-md-6">
                                    <h6>Idiomas</h6>
                                    <ul>
                                        <li>Español (natal)</li>
                                        <li>Inglés (avanzado)</li>
                                        <li>Francés (básico)</li>
                                    </ul>
                                    </div>
                                </div>

                                <!--<p class="teamSocial">
                                    <a href="#" data-scroll-reveal="enter right move 10px over 1s after 0.8s"><i class="fa fa-envelope"></i></a>
                                    <a href="http://www.linkedin.com/pub/luis-alfonso-lopez-durling/54/542/896" data-scroll-reveal="enter right move 10px over 1s after 0.8s"><i class="fa fa-linkedin"></i></a>
                                </p>-->

                                <img src="{% static 'img/lineSeparatorBlack.png' %}" class="lineSeparator hidden-xs" alt="separator">


                            </div>
                        </div>
                        <!--end member-->


                </div>

                <!--end content-->



            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* end portfolio SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

{% endblock %}
