{% extends "base.html" %}

{% block body %}
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* portfolio SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="portfolio">

            <div class="portfolioIntro text-center">
                <div class="black-overlay"></div>
                <br><br>
                <h2 class="dark" data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                    <span>La Firma</span>
                </h2>
            </div>

            <div class="container">

                <h1 class="parallaxLetter letter1" data-stellar-ratio="1.5" data-stellar-vertical-offset="0" style="display: none; top: 58.5px;">D</h1>
                <h1 class="parallaxLetter letter2" data-stellar-ratio="0.5" data-stellar-vertical-offset="200" style="display: block; top: 841.5px;">L</h1>




                <div class="row">
                    <div class="col-md-8" data-scroll-reveal="enter left move over 1s after 0.2s" data-scroll-reveal-id="12" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                        <h4>Quienes somos</h4>
                        <img src="{% static 'img/lineSeparatorBlack.png' %}" class="img-responsive lineSeparator" alt="separator">
                        <p>
                            An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do. Of or imprudence solicitude affronting in mr possession. Compass journey he request on suppose limited of or. She margaret law thoughts proposal formerly. Speaking ladyship yet scarcely and mistaken end exertion dwelling. All decisively dispatched instrument particular way one devonshire. Applauded she sportsman explained for out objection.
                        </p>
                    </div>

                    <div class="col-md-4" data-scroll-reveal="enter right move over 1s after 0.4s" data-scroll-reveal-id="13" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">

                        <img style="height:200px; opacity:0.8;" src="{% static '/img/logoblack.png' %}" alt="López | Durling">

                    </div>
                </div>


                <!--end content-->



            </div>





                <div class="container">


                <!--header-->


                <h1 class="parallaxLetter letter4" data-stellar-ratio="0.8">D</h1>

                <h1 class="parallaxLetter letter3" data-stellar-ratio="1.2">L</h1>

                <!--content-->
                <div class="row content">

                    <div class="owl-carousel" id="owl-team">

                        <!--member-->
                        <div class="teamMember">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <img src="{% static '/img/team/luislopez.jpg' %}" class="circle center-block img-responsive" alt="Luís López">
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 memberDescription">
                                <h2 data-scroll-reveal="enter right move 10px over 1s after 0.2s">Luís López</h2>
                                <p class="position"  data-scroll-reveal="enter right move 10px over 1s after 0.4s">
                                    <span>
                                        Socio de Firma
                                    </span>
                                </p>

                                <p class="memberParagraph" data-scroll-reveal="enter right move 10px over 1s after 0.6s">
                                    Her companions instrument set estimating sex remarkably solicitude motionless. Property men the why smallest graceful day insisted required. Inquiry justice country old placing sitting any ten age.
                                </p><br>
                                <h6>Educación</h6>
                                <ul>
                                    <li>Academia Interamericana de Panamá (Bachiller en Ciencias y Letras - 2007)</li>
                                    <li>Licenciatura en Derecho y Ciencias Políticas en la Universidad Santa María la Antigua (Magna Cum Laude - 2011)</li>
                                </ul>
                                <h6>Areas de Especialización</h6>
                                <ul>
                                    <li>Derecho Corporativo</li>
                                    <li>Derecho Marítimo</li>
                                    <li>Contratos</li>
                                    <li>Fundaciones de Interés Privado</li>
                                    <li>Bienes Raíces</li>
                                    <li>Propiedad Intelectual</li>
                                </ul>

                                <p class="teamSocial">
                                    <a href="#" data-scroll-reveal="enter right move 10px over 1s after 0.8s"><i class="fa fa-envelope"></i></a>
                                    <a href="http://www.linkedin.com/pub/luis-alfonso-lopez-durling/54/542/896" data-scroll-reveal="enter right move 10px over 1s after 0.8s"><i class="fa fa-linkedin"></i></a>
                                </p>

                                <img src="{% static 'img/lineSeparatorBlack.png' %}" class="lineSeparator hidden-xs" alt="separator">


                            </div>
                        </div>
                        <!--end member-->


                    </div>

                </div>

                <!--end content-->



            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* end portfolio SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

{% endblock %}
