title: Inicio
description: Somos un equipo de abogados de reconocida trayectoria y formación profesional, responsables y comprometidos. 
type_header: 50
{% extends "base.html" %}

{% block preloader %}
<!--preloader-->
<div class="ip-header">
    <div class="ip-logo">
        <img class="img-responsive preloaderLogo center-block" src="{% static 'img/logoWhite.png' %}" alt="preloader">
    </div>

    <div class="ip-loader">
        <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
            <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
        </svg>
    </div>
</div>
<!--end preloader-->
{% endblock %}

{% block body %}


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* Intro  */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="intro">
            <div class="black-overlay"></div>
            <div class="container valign">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{% static 'img/logoWhite.png' %}" class="img-responsive center-block introLogo" alt="Intro Logo">
                    </div>
                    <div class="col-md-12 text-center">
                        <h1>López Durling</h1>
                    </div>

                    <div class="col-md-12 text-center">
                        <img src="{% static 'img/separatorWhite.png' %}" class="img-responsive center-block separator" alt="separator">
                    </div>


                    <div class="col-md-6 col-md-offset-3 text-center">
                        <p>
                            En <strong>López | Durling</strong> nos enfocamos en el bienestar del cliente, nuestro objetivo es que sus negocios sean manejados de forma organizada, fácil, eficiente y siempre bajo estrictos estándares de seguridad.
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* END Intro  */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* TEXT SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--<section id="text-separator">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1 data-scroll-reveal="enter left move 10px over 1s after 0.2s" class="dark">L|D</h1>
                        <img src="{% static 'img/lineSeparatorWhite.png' %}" class="img-responsive lineSeparator" data-scroll-reveal="enter left move 10px over 1s after 0.3s" alt="separator">
                        <p data-scroll-reveal="enter left move 10px over 1s after 0.3s">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>

                <img src="{% static 'img/textSeparatorLogo.png' %}" class="textSepLogo" data-stellar-ratio="0.5" alt="Logo Black">
            </div>
        </section>-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* END TEXT SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* welcome SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="welcome-separator">
            <div class="container-fluid">
                <div class="col-md-7 col-sm-6 hidden-xs image" >
                    <div class="whiteOverlay"></div>
                    <img src="{% static 'img/backgroundWelcome.jpg' %}" alt="background">
                </div>

                <div class="col-md-5 col-sm-6 col-xs-12 textOverlay text-center">
                    <h1 data-scroll-reveal="enter right move 10px over 1s after 0.2s">Bienvenidos</h1>
                    <img src="{% static 'img/separatorBlack.png' %}" class="img-responsive center-block separator" alt="separator">
                    <p data-scroll-reveal="enter right move 10px over 1s after 0.4s">
                        Somos un equipo de abogados de reconocida trayectoria y formación profesional, responsables y comprometidos. Permítanos asistirle en sus negocios y transacciones privadas. Brindamos pronta respuesta a sus inquietudes y ofrecemos una atención personalizada para orientarlo en su negocio y cualquier otro tema legal. 
                    </p>
                    <br>
                    <a data-scroll href="{% url '/firma.html' %}" class="btn btn-default btn-black">Conozca más de la Firma</a>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* END welcome SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* about SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="about">

            <div class="container">

                <h1 class="parallaxLetter letter1" data-stellar-ratio="1.5" data-stellar-vertical-offset="0">D</h1>
                <h1 class="parallaxLetter letter2" data-stellar-ratio="0.5" data-stellar-vertical-offset="200">L</h1>


                <!--header-->
                <div class="row sectionIntro">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                            <span>Por qué elegirnos</span>
                        </h2>
                        <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
                            Nuestra firma se rige por los más altos estándares de calidad, garantizandoles así un servicio profesional en donde su satisfacción es nuestro objetivo principal.
                        </p>

                        <img src="{% static 'img/separatorBlack.png' %}" class="img-responsive center-block separator" alt="separator">

                    </div>
                    <div class="row">
                    <!--item-->
                    <div class="aboutItem col-md-3 col-sm-6 col-xs-12 clearfix" data-scroll-reveal="enter left move 5px over 1s after 0.2s" data-scroll-reveal-id="5" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                        <div class="aboutIconWrapper" data-stellar-ratio="1" style="top: -5px; display: block;">
                            <i class="fa fa-check-circle aboutIcon"></i>
                        </div>
                        <div class="aboutText">
                            <h4>Calidad de Servicio</h4>
                            <div class="aboutSeparator"></div>
                        </div>
                    </div>
                    <!--end item-->

                    <!--item-->
                    <div class="aboutItem col-md-3 col-sm-6 col-xs-12 clearfix" data-scroll-reveal="enter right move 5px over 1s after 0.4s" data-scroll-reveal-id="6" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                        <div class="aboutIconWrapper" data-stellar-ratio="1" style="top: -5px; display: block;">
                            <i class="fa fa-users aboutIcon"></i>
                        </div>
                        <div class="aboutText">
                            <h4>Contacto humano</h4>
                            <div class="aboutSeparator"></div>
                        </div>
                    </div>
                    <!--end item-->

                    <!--item-->
                    <div class="aboutItem col-md-3 col-sm-6 col-xs-12 clearfix" data-scroll-reveal="enter left move 5px over 1s after 0.6s" data-scroll-reveal-id="7" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                        <div class="aboutIconWrapper" data-stellar-ratio="1" style="top: -5px; display: block;">
                            <i class="fa fa-gears aboutIcon"></i>
                        </div>
                        <div class="aboutText">
                            <h4>Máxima Eficiencia</h4>
                            <div class="aboutSeparator"></div>
                        </div>
                    </div>
                    <!--end item-->
                    <!--item-->
                    <div class="aboutItem col-md-3 col-sm-6 col-xs-12 clearfix" data-scroll-reveal="enter left move 5px over 1s after 0.6s" data-scroll-reveal-id="7" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                        <div class="aboutIconWrapper" data-stellar-ratio="1" style="top: -5px; display: block;">
                            <i class="fa fa-clock-o aboutIcon"></i>
                        </div>
                        <div class="aboutText">
                            <h4>Gran Experiencia</h4>
                            <div class="aboutSeparator"></div>
                        </div>
                    </div>
                    <!--end item-->


                </div>
            </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br><br>
                        <a class="btn btn-default btn-black center-block" href="{% url '/contacto.html' %}">Contáctenos</a>
                    </div>
                </div>
                <!--end content-->



            </div>

        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* END about SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* TEXT SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="text-separator-clients">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 testimonial text-center mb-20">
                        En López Durling, nuestra política se centra en brindar la mejor atención al cliente, logrando que nuestro servicio personalizado se ajuste a las necesidades del cliente, siempre.
                    </div>

                    <img src="{% static 'img/textSeparatorLogo.png' %}" class="textSepLogo" data-stellar-ratio="0.5" alt="Logo Black">
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* END TEXT SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* featured SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="featured-works">

            <div class="container">
            <!--header-->
            <div class="row sectionIntro">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                        <span>Áreas de Práctica</span>
                    </h2>
                    <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
                        Conozca todos nuestros servicios y las áeras legales en la que nos especializamos
                    </p>

                    <img src="{% static 'img/separatorBlack.png' %}" class="img-responsive center-block separator" alt="separator">

                </div>
            </div>
            <!--end header-->

            <div class="row content">

                <div class="col-md-3 col-sm-12">
                    <h4 data-scroll-reveal="enter left move 10px over 1s after 0.4s">Servicios Destacados</h4>
                    <img src="{% static 'img/lineSeparatorBlack.png' %}" class="img-responsive lineSeparator" data-scroll-reveal="enter left move 10px over 1s after 0.3s" alt="separator">
            


                </div>


                <div class="col-md-9 col-sm-12" data-scroll-reveal="enter right move 10px over 1s after 0.2s">
                    <div id="owl-featured" class="owl-carousel">
                        <!--item -->
                        <div class="featureWrapper">
                            <div class="feature-inner">


                                <img alt="thumbnail" class="galleryImage" src="{% static '/img/servicios/maritimo.jpg' %}">

                                <!-- caption -->
                                            <div class="caption-heading">
                                                <h5>DERECHO MARÍTIMO</h5>
                                                <p>Con una ubicación estratégica, Panamá es uno de los más importantes puntos del mundo para el paso de naves.</p>
                                                <a class="btn btn-default btn-black "  href="{% url '/servicios/derecho_maritimo.html' %}">Conozca más</a>
                                            </div>
                                <!-- end caption -->

                            </div>
                        </div>
                        <!--end item -->

                        <!--item -->
                        <div class="featureWrapper">
                            <div class="feature-inner">


                                <img alt="thumbnail" class="galleryImage" src="{% static '/img/servicios/contratos.jpg' %}">

                                <!-- caption -->
                                <div class="caption-heading">
                                    <h5>CONTRATOS</h5>
                                    <p>Un contrato redactado de forma adecuada garantiza una mayor tranquilidad al hacer negocios asegurando los resultados deseados.</p>
                                    <a class="btn btn-default btn-black "  href="{% url '/servicios/contratos.html' %}">Conozca más</a>
                                </div>
                                <!-- end caption -->

                            </div>
                        </div>
                        <!--end item -->

                        <!--item -->
                        <div class="featureWrapper">
                            <div class="feature-inner">


                                <img alt="thumbnail" class="galleryImage" src="{% static '/img/servicios/autor.jpg' %}">

                                <!-- caption -->
                                <div class="caption-heading">
                                    <h5>Propiedad Intelectual</h5>
                                    <p>Nuestro despacho agrega valor a su empresa al proteger los derechos de sus marcas y/o activos intangibles como tales.</p>
                                    <a class="btn btn-default btn-black "  href="{% url '/servicios/propiedad_intelectual.html' %}">Conozca más</a>
                                </div>
                                <!-- end caption -->

                            </div>
                        </div>
                        <!--end item -->

                        <!--item -->
                        <div class="featureWrapper">
                            <div class="feature-inner">


                                <img alt="thumbnail" class="galleryImage" src="{% static '/img/servicios/bienes.jpg' %}">

                                <!-- caption -->
                                <div class="caption-heading">
                                    <h5>BIENES RAÍCES</h5>
                                    <p>Nuestra oficina lo puede asistir en las siguientes operaciones: financiamiento, adquisiciones, planeación fiscal, permisos y más.</p>
                                    <a class="btn btn-default btn-black "  href="{% url '/servicios/bienes_raices.html' %}">Conozca más</a>
                                </div>
                                <!-- end caption -->

                            </div>
                        </div>
                        <!--end item -->
                    </div>
                </div>

            </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br><br>
                        <a class="btn btn-default btn-black center-block" href="{% url '/servicios.html' %}">Ver Nuestros Servicios</a>
                    </div>
                </div>

            </div>

        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* end featured SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
{% endblock %}
