{% extends "base.html" %}

{% block body %}

<br><br>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* services SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!-- Service 1 -->
        <section id="services">
            <div class="serviceBox dark introServiceBox text-center">
                <h2 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                    <span>Servicios</span>
                </h2>
            </div>


            <div class="serviceBox whiteBox text-center" >
                <div class="valign">
                    <h4 data-scroll-reveal="enter right move 10px over 1s after 0.6s">
                        <span>Áreas de Práctica</span>
                    </h4>
                    <img data-scroll-reveal="enter right move 10px over 1s after 1s" class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator">
                    <p data-scroll-reveal="enter right move 10px over 1s after 1s">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

            <!-- Service 2 -->
            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                        <span>Contratos</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                    <p data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <div class="serviceBox blackBox text-center" style="opacity:0.97;">
                <div class="valign">
                    <i class="fa fa-file-text-o fa-4x" data-scroll-reveal="enter right move 10px over 1s after 0.2s"></i>
                </div>
            </div>

            <!-- Service 3 -->
            <div class="serviceBox blackBox text-center" style="opacity:0.94;">
                <div class="valign">
                    <i class="fa fa-map-signs fa-4x" data-scroll-reveal="enter left move 10px over 1s after 0.2s"></i>
                </div>
            </div>


            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter right move 10px over 1s after 0.2s">
                        <span>Derecho Aduanero</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <!-- Service 4 -->
            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                        <span>Derecho Bancario</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                       Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <div class="serviceBox blackBox text-center" style="opacity:0.91;">
                <div class="valign">
                    <i class="fa fa-university fa-4x" data-scroll-reveal="enter right move 10px over 1s after 0.2s"></i>
                </div>
            </div>
            <!-- Service 5 -->
            <div class="serviceBox blackBox text-center" style="opacity:0.88;">
                <div class="valign">
                    <i class="fa fa-legal fa-4x" data-scroll-reveal="enter left move 10px over 1s after 0.2s"></i>
                </div>
            </div>


            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter right move 10px over 1s after 0.2s">
                        <span>Derecho Civil</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static 'img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <!-- Service 5 -->
            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                        <span>Derecho Corporativo</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                       Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <div class="serviceBox blackBox text-center" style="opacity:0.85;">
                <div class="valign">
                    <i class="fa fa-building-o fa-4x" data-scroll-reveal="enter right move 10px over 1s after 0.2s"></i>
                </div>
            </div>
            <!-- Service 6 -->
            <div class="serviceBox blackBox text-center" style="opacity:0.82;">
                <div class="valign">
                    <i class="fa fa-users fa-4x" data-scroll-reveal="enter left move 10px over 1s after 0.2s"></i>
                </div>
            </div>


            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter right move 10px over 1s after 0.2s">
                        <span>Derecho Laboral</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <!-- Service 7 -->
            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                        <span>Derecho Marítimo</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                       Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <div class="serviceBox blackBox text-center" style="opacity:0.79;">
                <div class="valign">
                    <i class="fa fa-ship fa-4x" data-scroll-reveal="enter right move 10px over 1s after 0.2s"></i>
                </div>
            </div>
            <!-- Service 8 -->
            <div class="serviceBox blackBox text-center" style="opacity:0.76;">
                <div class="valign">
                    <i class="fa fa-flag fa-4x" data-scroll-reveal="enter left move 10px over 1s after 0.2s"></i>
                </div>
            </div>


            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter right move 10px over 1s after 0.2s">
                        <span>Derecho Migratorio</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <!-- Service 9 -->
            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                        <span>Derecho Tributario</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                       Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <div class="serviceBox blackBox text-center" style="opacity:0.73;">
                <div class="valign">
                    <i class="fa fa-line-chart fa-4x" data-scroll-reveal="enter right move 10px over 1s after 0.2s"></i>
                </div>
            </div>
            <!-- Service 10 -->
            <div class="serviceBox blackBox text-center" style="opacity:0.70;">
                <div class="valign">
                    <i class="fa fa-certificate fa-4x" data-scroll-reveal="enter left move 10px over 1s after 0.2s"></i>
                </div>
            </div>


            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter right move 10px over 1s after 0.2s">
                        <span>Fundaciones de Interés Privado</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <!-- Service 11 -->

            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                        <span>Licitaciones Públicas</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                       Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <div class="serviceBox blackBox text-center" style="opacity:0.67;">
                <div class="valign">
                    <i class="fa fa-industry fa-4x" data-scroll-reveal="enter right move 10px over 1s after 0.2s"></i>
                </div>
            </div>

            <!-- Service 12 -->

            <div class="serviceBox blackBox text-center" style="opacity:0.64;">
                <div class="valign">
                    <i class="fa fa-copyright fa-4x" data-scroll-reveal="enter left move 10px over 1s after 0.2s"></i>
                </div>
            </div>


            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter right move 10px over 1s after 0.2s">
                        <span>Propiedad Intelectual</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter right move 10px over 1s after 0.8s">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <!-- Service 13 -->

            <div class="serviceBox whiteBox text-center">
                <div class="valign">
                    <h4 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                        <span>Registro Sanitario</span>
                    </h4>
                    <img class="separator center-block img-responsive" src="{% static '/img/separatorBlack.png' %}" alt="separator" data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                    <p data-scroll-reveal="enter left move 10px over 1s after 0.8s">
                       Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.
                    </p>
                    <div class="right mr-10">
                        <a href="{% url '/servicios/servicio.html' %}" class="btn  btn-small">Conozca más</a>
                    </div>
                </div>
            </div>

            <div class="serviceBox blackBox text-center" style="opacity:0.61;">
                <div class="valign">
                    <i class="fa fa-user-md fa-4x" data-scroll-reveal="enter right move 10px over 1s after 0.2s"></i>
                </div>
            </div>

            <div class="clearfix"></div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* end services SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


{% endblock %}
