type_header: 50
title: Bienes Raíces
description: Debido a que Panamá ofrece un sistema de impuestos atractivo, nos hemos convertido en uno de los comerciantes favoritos de las empresas extranjeras y pensionados, quienes desean establecerse en el territorio.
icon: building-o
img: ../../static/img/servicios/bienes_raices.jpg
{% extends "base_servicio.html" %}

{% block service_content %}
<p><span class="dropcap">D</span>ebido a que Panamá ofrece un sistema de impuestos atractivo, nos hemos convertido en uno de los comerciantes favoritos de las empresas extranjeras y pensionados, quienes desean establecerse en el territorio.
</p>
<br>
<h5>Nuestra oficina lo puede asistir en lo siguiente: </h5>
<br>
<ul>
    <li>Financiamiento </li>
    <li>Planeación fiscal</li>
    <li>Exoneraciones</li>
    <li>Verificación de títulos</li>
    <li>Adquisiciones</li>
    <li>Permisos</li>
    <li>Concesiones</li>
    <li>Ventas</li>
    <li>Arrendamiento</li>
</ul>

{% endblock %}