type_header: 50
title: Contratos
description: Un contrato redactado de forma adecuada puede reducir significativamente el riesgo de que su proyecto se vea afectado por situaciones evitables
icon: file-text-o
img: ../../static/img/servicios/contratos.jpg
{% extends "base_servicio.html" %}

{% block service_content %}
<p><span class="dropcap">U</span>n contrato redactado de forma adecuada puede reducir significativamente el riesgo de que su proyecto se vea afectado por situaciones evitables, garantizandole una mayor tranquilidad al hacer negocios y asegurando los resultados deseados. Estamos a su servicio para la preparación, revisión y redacción de sus contratos personales y/o comerciales.</p>
<br>
<h5>Nos especializamos en:</h5>
<br>
<ul>
    <li>Contratos de promesa de compraventa y/o compraventa de bienes muebles, inmuebles y activos.</li>
    <li>Contratos de obra para construcción</li>
    <li>Contratos generales</li>
</ul>
{% endblock %}


