type_header: 50
title: Derecho Corporativo
description: Constitución de sociedades y estatutos corporativos para el manejo de su empresa. Le ayudamos a construir y/o organizar su plataforma de negocios.
icon: industry
img: ../../static/img/servicios/derecho_corporativo.jpg
{% extends "base_servicio.html" %}

{% block service_content %}
<p><span class="dropcap">N</span>os enfocamos en asuntos relacionados a la constitución de sociedades y estatutos corporativos para el manejo de su empresa. Le ayudamos a construir y/o organizar su plataforma de negocios.</p>
<br>
<h5>Brindamos un servicio personalizado en:</h5>
<br>
<ul>
    <li>Organización de sociedades anónimas </li>
    <li>Reglamentos internos (By-laws)</li>
    <li>Selección y creación de estructuras corporativas</li>
    <li>Auditorías corporativas</li>
    <li>Elaboración de acuerdos de accionistas</li>
    <li>Fusiones</li>
    <li>Adquisiciones</li>
    <li>Consolidaciones</li>
    <li>Escisiones</li>
</ul>
{% endblock %}