type_header: 50
title: Derecho Comercial
description: Les ofrecemos una amplia asesoría en negocios e inversión en Panamá para empresas, individuales y multinacionales
icon: briefcase
img: ../../static/img/servicios/derecho_comercial.jpg
{% extends "base_servicio.html" %}

{% block service_content %}
<p><span class="dropcap">E</span>n el mundo de los negocios la orientación legal es fundamental y se rige por diferentes competencias. Les ofrecemos una amplia asesoría en negocios e inversión en Panamá para empresas, individuales y multinacionales.</p>
<br>
<h5>Contamos con experiencia en: </h5>
<br>
<ul>
    <li>Titulación </li>
    <li>Reestructuraciones</li>
    <li>Adquisición</li>
    <li>Fusiones</li>
    <li>Opiniones o consultas legales</li>
    <li>Redacción de contratos</li>
    <li>Crossborder</li>
    <li>Leasing</li>
    <li>Factoring</li>
    <li>Transacciones en línea (E-Commerce)</li>
</ul>
{% endblock %}