type_header: 50
title: Derecho Marítimo
description: Con una ubicación estratégica, Panamá es uno de los más importantes puntos del mundo para el paso de naves.
icon: ship
img: ../../static/img/servicios/derecho_maritimo.jpg
{% extends "base_servicio.html" %}

{% block service_content %}
<p><span class="dropcap">C</span>on una ubicación estratégica, Panamá es uno de los más importantes puntos del mundo para el paso de naves. El canal de Panamá ha sido el enlace vital con el transporte mundial en el último siglo para embarcaciones, carga y pasajeros alrededor del mundo. Actualmente, alrededor de 14,000 naves cruzan por el Canal cada año y se estima que serán 50,000 naves por año con la ampliación del tercer juego de esclusas. </p>
<p>Panamá cuenta con la flota más grande del mundo con alrededor de 8,600 naves registradas al momento. La creciente industria y la Marina Mercante panameña, la más grande de Latinoamérica, son factores que han posicionado a Panamá como líderes mundiales.</p>
<br>
<h5>Entre nuestros servicios les ofrecemos: </h5>
<br>
<ul>
    <li>Abanderamiento</li>
    <li>Contratos de fletamento</li>
    <li>Hipotecas navales o estructuración de deudas</li>
    <li>Preparación de contratos de compra y venta de naves</li>
    <li>Obtención de certificados técnicos (Bunker, ISSC, CSR, etc.)</li>
    <li>Asistencia con los consulados de la República de Panamá en el exterior</li>
</ul>
{% endblock %}