type_header: 50
title: Fundaciones de Interés Privado
description: Constitución de sociedades y estatutos corporativos para el manejo de su empresa. Le ayudamos a construir y/o organizar su plataforma de negocios.
icon: university
extra_class: big-width
img: ../../static/img/servicios/fundaciones.jpg
{% extends "base_servicio.html" %}

{% block service_content %}
<p><span class="dropcap">P</span>anamá cuenta con un régimen favorable para el manejo de bienes y recursos personales y corporativos. Nuestra firma le podrá brindar la asesoría necesaria para la constitución de fundaciones de interés privado, fideicomisos y demás estructuras financieras hechas a la medida.</p>
<br>
{% endblock %}