type_header: 50
title: Inversión de Capitales
description: Panamá actualmente, gracias a la inversión extranjera, posee un ambiente óptimo con amplias oportunidades de negocios y próspero para empresas.
icon: money
img: ../../static/img/servicios/inversion_capitales.jpg
{% extends "base_servicio.html" %}

{% block service_content %}
<p><span class="dropcap">A</span>ctualmente, Panamá posee un mercado muy próspero con amplias oportunidades de negocios. Es un ambiente óptimo para empresas y con un gran clima económico gracias a la inversión extranjera.</p>
<br>
<h5>Estamos a su servicio para asesorarlos en:</h5>
<br>
<ul>
    <li>Estructuración de fondos de inversión  </li>
    <li>Negociaciones con empresas de capital privado </li>
    <li>Debidas diligencias (due diligence) </li>
    <li>Negociaciones de contratos</li>
    <li>Asesoría en temas regulatorios</li>
    <li>Cambios constantes en derivadas de EEUU y valores internacionales</li>
    <li>Adquisición y/o venta</li>
    <li>Compra de acciones</li>
</ul>
{% endblock %}