type_header: 50
title: Propiedad Intelectual
description: Panamá actualmente, gracias a la inversión extranjera, posee un ambiente óptimo con amplias oportunidades de negocios y próspero para empresas.
icon: copyright
img: ../../static/img/servicios/propiedad_intelectual.jpg
{% extends "base_servicio.html" %}

{% block service_content %}
<p><span class="dropcap">N</span>uestro despacho brinda asesoría de propiedad intelectual para agregar valor a su empresa, al proteger los derechos de sus marcas y/o activos intangibles como tales.</p>
<p>Conocemos el impacto que la leyes de Propiedad Intelectual de la República de Panamá pueden tener en los negocios y por ellos, es por esta razón por la que ofrecemos un servicio eficiente para atender sus necesidades</p>
<br>
<h5>Ofrecemos los siguientes servicios:</h5>
<br>
<ul>
    <li>Registros de marca y patentes</li>
    <li>Modelos de utilidad </li>
    <li>Diseños industriales</li>
    <li>Trámites administrativos</li>
    <li>Litigios</li>
    <li>Aduanas</li>
    <li>Registros en zonas francasa</li>
    <li>Registro y renovación de nombre de dominio</li>
</ul>
{% endblock %}