
{% extends "base.html" %}

{% block body %}

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* about SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="about">
            <div class="portfolioIntro text-center">
                <div class="black-overlay"></div>
                <br><br>
                <h2 class="dark" data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                    <span><i class="fa fa-certificate"></i> Servicio Demo</span>
                </h2>
            </div>
            <div class="container pt-0">

                <h1 class="parallaxLetter letter1" data-stellar-ratio="1.5" data-stellar-vertical-offset="0">D</h1>
                <h1 class="parallaxLetter letter2" data-stellar-ratio="0.5" data-stellar-vertical-offset="200">L</h1>


                <!--header-->
                <div class="row sectionIntro">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <p data-scroll-reveal="enter bottom move 10px over 1s after 0.2s">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        </p>

                        <img src="{% static '/img/separatorBlack.png' %}" class="img-responsive center-block separator" alt="separator">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 service-content">
                        <h4>Sub Título</h4>
                        <img src="{% static '/img/lineSeparatorBlack.png' %}" class="img-responsive lineSeparator" alt="separator">
                        <p>
                        <p><span class="dropcap">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                        <br><br>
                        <h5>Beneficios o característivcas del servicio</h5>
                        <br>
                        <ul id="myTabPills" class="nav nav-pills" role="tablist">
                            <li class="active"><a href="#home1" role="tab" data-toggle="tab">Beneficio 1</a></li>
                            <li><a href="#profile2" role="tab" data-toggle="tab">Beneficio 2</a></li>
                            <li class="dropdown">
                                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Beneficio 3<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                    <li><a href="#dropdown3" tabindex="-1" role="tab" data-toggle="tab">Beneficio 3.1</a></li>
                                    <li><a href="#dropdown4" tabindex="-1" role="tab" data-toggle="tab">Beneficio 3.2</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div id="myTabContentPills" class="tab-content">
                            <div class="tab-pane fade in active" id="home1">
                                <p>Sed ut perspiciatis unde <strong>omnis iste natus error sit voluptatem accusantium</strong> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                            </div>
                            <div class="tab-pane fade" id="profile2">
                                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                            </div>
                            <div class="tab-pane fade" id="dropdown3">
                                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                            </div>
                            <div class="tab-pane fade" id="dropdown4">
                                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3 sidebar">
                        <h5>Áreas de Práctica</h5><br>
                        <ul class="sidebar-list">
                            <li><a href="servicio.html">CONTRATOS</a></li>
                            <li><a href="servicio.html">DERECHO ADUANERO</a></li>
                            <li><a href="servicio.html">DERECHO BANCARIO</a></li>
                            <li><a href="servicio.html">DERECHO CIVIL</a></li>
                            <li><a class="active" href="servicio.html">DERECHO CORPORATIVO</a></li>
                            <li><a href="servicio.html">DERECHO LABORAL</a></li>
                            <li><a href="servicio.html">DERECHO MARÍTIMO</a></li>
                            <li><a href="servicio.html">DERECHO MIGRATORIO</a></li>
                            <li><a href="servicio.html">DERECHO TRIBUTARIO</a></li>
                            <li><a href="servicio.html">FUNDACIONES DE INTERÉS PRIVADO</a></li>
                            <li><a href="servicio.html">LICITACIONES PÚBLICAS</a></li>
                            <li><a href="servicio.html">PROPIEDAD INTELECTUAL</a></li>
                            <li><a href="servicio.html">REGISTRO SANITARIO</a></li>
                        </ul>
                        <br>
                        <h5>Póngase en Contacto</h5>
                        <ul class="infoContact p-10">
                            <li><i class="fa fa-phone"></i> TLF: +(507) 263-8244</li>
                            <li>FAX: +(507) 263-8234</li>
                        </ul>
                        <hr>
                        <ul class="infoContact p-10">
                            <li><i class="fa fa-location-arrow"></i> Calle 52 y Elvira Méndez</li>
                            <li>Edificio Vallarino (Piso 15)</li>
                            <li>Ciudad de Panamá, Panamá</li>
                        </ul>
                        <hr>
                        <ul class="infoContact p-10">
                            <li><i class="fa fa-envelope-o"></i> adm@durlinglaw.com</li>
                            <li>Skype: durlinglaw</li>
                        </ul>

                    </div>
                </div>


                <!--content-->
            </div>
        </section>

{% endblock %}
